@import "tailwindcss";
@plugin "daisyui" {  themes: all;}
@tailwind utilities;

@layer utilities {
  @keyframes fade-pulse {
    0%,100% {
      opacity: 0.4;
      transform: translateY(4px);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-pulse 2s ease-in-out infinite;
  }
}
